# dependencies
node_modules/

# build outputs
dist/
.output/
build/

# turbo
.turbo/

# env
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor / os
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/

# vite
*.local
